li {
    text-decoration: none;
    list-style-type: none;
    display:inline-block;
    margin:0 20px;
}
a{
     text-decoration: none;
    }
a:link {
    color: red;
  }
  
  a:visited {
    color: green;
  }
  
  a:hover {
    color: hotpink;
  }
  
  a:active {
    color: blue;
  }